body{
    margin: 0;
    background: #F0F0F0;
}

.header{
    z-index: 1;
    width: 100%;
    background: white;
    height: 40px;
    justify-content: space-around;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
}

.women{
    font-family: dINAlternateBold;
    font-size: 15px;
    color:#FF3A81;

}

.man{
    font-family: dINAlternateBold;
    font-size: 15px;
    color: #20232c;
}

.content{
    width: 100%;
    background: #F0F0F0;
}

.content-list{
    width: 100%;
    background: #F0F0F0;
}

.content-list-item-top{
    background: white;
    margin-top: 50px;
}

.content-list-item{
    background: white;
    margin-top: 10px;
}

.list-item-header{
    display: flex;
    padding: 10px;
}

.title-name{
    color: #20232c;
    font-family: dINAlternateBold;
    font-size: 13px;
    transform: scale(0.9);
}

.title-num{
    color: #24ADE1;
    align-items: baseline;

    font-size: 13px;
    align-content: flex-end;
}

.header-line{
    background: #F0F0F0;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.list-item-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.content-left{

}

.content-center{

}

.content-right{
    position: relative;
}



.head-project-text-bg{
    height: 50px;
    background: url("img/bg_header.png") no-repeat;
    background-size:contain;
}

.head-project-text{

    font-family: dINAlternateBold;
    color: white;
    font-size: 10px;
    transform: scale(0.6) rotate(321deg);
    -webkit-transform :  scale(0.6) rotate(323deg) translate(-7px,-13px) ; /*为Chrome/Safari*/
    -moz-transform:scale(0.6)rotate(321deg); /*为Firefox*/
    -ms-transform:scale(0.6)rotate(321deg); /*为IE*/
    -o-transform:scale(0.6)rotate(321deg); /*为Opera*/
}

.interest-rate{

    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 15px;

}

.interest-rate-text{
    font-family: dINAlternateBold;
    font-size: 35px;
    color: #FF7E00;
}

.add{
    font-family: dINAlternateBold;
    color: #FF3A81;
}

.platform-subsidy{
    font-family: dINAlternateBold;
    font-size: 22px;
    color: #FF3A81;

}

.interest-rate-describe{
    font-family: dINAlternateBold;
    font-size: 10px;
    color: #999999;
    transform: scale(0.8);
    padding-top: 5px;
}

.pop-day{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 10px;
}

.buy-pop{
    display: flex;
    align-items: baseline;
}
.day-term{
    display: flex;
    align-items: baseline;
}

.pop-num{
    color: #FF7E00;
    font-size: 12px;
    font-family: dINAlternateBold;
}
.buyed{
    color: #20232c;
    font-size: 10px;
    transform: scale(0.8);
}
.center-vertical-line{
    background: #F0F0F0;
    height: 15px;
    width: 1px;
}
.day-num{
    color: #FF7E00;
    font-size: 12px;
    font-family: dINAlternateBold;
}
.dayterm{
    color: #20232c;
    font-size: 10px;
    transform: scale(0.8);
}

.redpackagebg{

    height: 40px;
    padding-right: 15px;
    padding-top: 10px;
}


.redpackagenum{
    top: 8px;
    right: 10px;
    position: absolute;
    height: 15px;
    width: 15px;
    background: #FF3A81;
    border-radius: 9px;
    font-size: 10px;
    color: white;

}

.list-item-footer{
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.item-footer-left{
    display: flex;
}

.total-money-text{
    color: #999999;
    font-size: 10px;
    transform: scale(0.8);
}

.total-money-num{
    font-weight: bold;
    color: #20232c;
    font-size: 10px;
}

.item-footer-right{
    display: flex;
}

.surplus-money-text{
    color: #999999;
    font-size: 10px;
    transform: scale(0.8);
}

.surplus-money-num{
    color: #FF7E00;
    font-size: 10px;
    font-weight: bold;
}

.footer{
    width: 100%;
    height: 48px;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
}
.tab-home {
    padding-top: 5px;
}
.tab-project{
    padding-top: 5px;
}
.tab-my{
    padding-top: 5px;
}
.home-image{
    height: 25px;
    width: 25px;
}
.project-image{
    height: 25px;
    width: 25px;
}
.my-image{
    height: 25px;
    width: 25px;
}


.my-image{
    height: 25px;
    width: 25px;
}
.home-text{
    color: #000;
    font-size: 10px;
}
.project-text{
    color: #000;
    font-size: 10px;
}
.my-text{
    color: #000;
    font-size: 10px;
}

.biaoqian{
    font-size: 9px;
    color: greenyellow;

}
