body{
    margin: 0;
    background: #fafafa;
}

.header {
    background: white;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
}


.onsale{
    width: 100%;
    color: black;
    font-size: 15px;
    margin-right: 20px;
}

.historical-sale{
    width: 100%;
    color: #FF3A81;
    font-size: 15px;
}

.content{
    width: 100%;
    margin-top: 58px;
    background: #fafafa;
    margin-bottom: 58px;

}

.history-list{
    background: #fafafa;
}

.history-list-item{
    background: white;
    margin-top: 10px;
}

.history-list-item-header{
    color: #999999;
    font-size: 13px;
    line-height: 35px;
    font-weight: bold;
    background: white;
    font-style: inherit;
    font-family: dINAlternateBold;
    margin-left: 10px;
}

.history-list-item-header-line{
    height: 1px;
    background: #f0f0f0;
    margin-left: 10px;
}




.interest-rate{
    color: #999999;
    font-size: 18px;
    text-indent:0.5em;
    font-weight: bold;
    font-family: dINAlternateBold;
}

.add{
    color: #999999;
}

.interest-rates{
    color: #999999;
    font-size: 12px;
    text-indent:0.5em;
    font-family: dINAlternateBold;
}

.interest-rate-txt{
    color: #999999;
    font-size: 10px;
    font-family: dINAlternateBold;
}

.history-list-item-content{
    padding: 10px;
    display: flex;
    background: white;
}

.content-center{
    flex: 1;
    display: flex;
    text-align: center;
}

.content-left{
    flex: 1;
}

.content-right{
    flex: 1;
    text-align: right;
}

.content-center-txt{
    flex: 1;
    text-align: center;
}

.vertical-line{
    background: #f0f0f0;
    width: 1px;
    height: 100%;
    margin-left: 20px;
}

.count-day{
    color: #999999;
    text-align: center;
}

.math{
    color: #999999;
    font-size: 13px;
    text-indent:1px;
    font-weight: bold;
    font-family: dINAlternateBold;
    text-align: center;
}

.day{
    text-align: center;
    letter-spacing: 0.5em;
    color: #999999;
    font-size: 8px;
    font-family: dINAlternateBold;
}

.num-pop{
    text-align: center;
}

.num{
    color: #999999;
    font-size: 14px;
    font-weight: bold;
    font-family: dINAlternateBold;
    text-align: center;
}

.pop{
    color: #999999;
    font-size: 8px;
    font-family: dINAlternateBold;
    text-align: center;
}

.money{
    color: #999999;
    font-size: 10px;
    font-weight: bold;
    text-align: end;
    font-family: dINAlternateBold;
}


.count{
    text-align: right;


}

.count-y{
    color: #999999;
    font-size: 11px;
    font-family: dINAlternateBold;
    margin-right: 10px;
}





.footer{
    height: 55px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items:center;
}

.tab-home {
}
.tab-project{
}
.tab-my{
}
.home-image{
    height: 25px;
    width: 25px;
}
.project-image{
    height: 25px;
    width: 25px;
}

.my-image{
    height: 25px;
    width: 25px;
}
.home-text{
    color: #000;
    font-size: 10px;
}
.project-text{
    color: #000;
    font-size: 10px;
}
.my-text{
    color: #000;
    font-size: 10px;
}














